.wrap {
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
    width: 50%;
}

input,
.msg {
    margin-bottom: 20px !important;
}

input[type="url"] {
    width: 50%;
}

.msg {
    margin: 0 auto;
    width: 50%;
}