{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        
        <title>Shrtn</title>

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600">
        <link rel="stylesheet" type="text/css" href="{% static "css/minimu.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    </head>
    <body class="outer">
        <div class="inner">
            <div class="body">
                Checking status&hellip;
            </div>
            <div class="actions">
                <a href="v/" class="btn btn-blue">Visit Link</a>
            </div>
        </div>
        <a href="/" class="btn btn-grey return-home">Shorten New Link</a>
    </body>
</html>