{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        
        <title>Shrtn</title>

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600">
        <link rel="stylesheet" type="text/css" href="{% static "css/minimu.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    </head>
    <body class="wrap">
        <form action="" method="post">{% csrf_token %}
            {% if form.url.errors %}
            <div class="msg msg-failure">
                <ol>
                {% for error in form.url.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ol>
            </div>
            {% endif %}
            {{ form.url }}
            <input type="submit" value="Shorten Link" class="btn btn-blue" />
        </form>
    </body>
</html>