{% load staticfiles %}
{% load url_checker %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        
        <title>Shrtn</title>

        <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}"/>

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600">
        <link rel="stylesheet" type="text/css" href="{% static 'css/minimu.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>
    <body class="outer">
        <div class="inner">
            <div class="body">
                {% check object.url as is_reachable %}
                {% if is_reachable %}
                    <span class="label label-success">Reachable</span>
                {% else %}
                    <span class="label label-failure">Unreachable</span>
                {% endif %}
            </div>
            <div class="actions">
                <a href="v/" class="btn btn-blue">Visit Link</a>
                {% if not is_reachable %}
                <a class="btn btn-grey" href="http://webcache.googleusercontent.com/search?q=cache:{{ object.url }}">Cached URL</a>
                {% endif %}
            </div>
        </div>
        <a href="/" class="btn btn-green return-home">Shorten New Link</a>
    </body>
</html>